.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--purple);
	-webkit-text-stroke: 2px var(--black);
	paint-order: stroke fill;
	font-weight: 800;
}
