.list {
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 264px);
	justify-content: center;
	gap: 10px;
	color: var(--white);
}

.item {
	display: flex;
	flex-direction: column;
	background: var(--black);
	border: 2px solid var(--black);
	border-radius: 20px;
}

.item img {
	border-radius: 18px 18px 0 0;
}

.description {
	padding: 15px 15px 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	font-size: 16px;
	font-weight: 700;
}

.rating {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
}

@media (max-width: 700px) {
	.list {
		grid-template-columns: 1fr 1fr;
		gap: 5px;
	}
	.item img {
		width: 100%;
		height: auto;
	}
	.description {
		padding: 10px 5px 5px;
	}
	.title {
		font-size: 14px;
		font-weight: 400;
	}
	.rating {
		gap: 3px;
		font-size: 12px;
	}
	.rating svg {
		width: 12px;
	}
}
