.search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	padding: 0 25px;
	height: 50px;
	max-width: 450px;
	flex-grow: 1;
	background: var(--grey);
	color: var(--white);
	border: 2px solid var(--black);
	border-radius: 20px;
	font-size: 14px;
	outline: none;
}

.input::placeholder {
	color: var(--whitegrey);
}
